<!-- ****************************** Banner ************************** -->

    <section id="banner" class="text-center">
        <div class="overlay"></div>
        <section class="container">
            <section class="row">
                <div class="col-md-12">
                    <div class="headings">
                        <h1 class="wow animated fadeInDown">Hone your Travel itinerary, Ask <span class="color-brand">TRAV</span>ASK</h1>
                        <form class="optin" data-toggle="validator" role="form" action="http://mailthis.to/viku5star@gmail.com">
                            <div class="row wow animated fadeInLeft">
                                <div class="col-sm-3">
                                    <div class="control-group">
                                        <input class="form-control" id="name" name="name" type="text" placeholder="Name *" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="control-group">
                                        <input class="form-control" id="number" name="number" type="number" placeholder="Contact Number *" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="control-group">
                                        <input class="form-control" id="email" name="email" type="email" placeholder="Email Address *" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="dpkerwrap">
                                        <input class="form-control dpker" id="dd" name="dd" type="text" placeholder="Departure Date">
                                        <i class="ion-calendar"></i>
                                    </div>
                                </div>

                                <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 clearfix">
                                    <input type="hidden" name="_subject" value="TravAsk - Enquiry">
                                    <input type="hidden" name="_after" value="http://localhost:8080/s=y">
                                    <input type="text" name="_honey" value="" style="display:none">
                                    <img src="assets/img/ripple.gif" width="24" class="sending hidden" alt="Sending...">
                                    <button type="submit" id="askButton" class="btn btn-primary btn-lg btn-block m-t-10 m-b-40 wow animated bounceInUp ask">Ask Now <i class="ion-android-send pull-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <directive></directive>
    <h1>Package Details</h1>