

/* ///////////////////////////////////////////////////////////////////// 
//  02 - Global 
/////////////////////////////////////////////////////////////////////*/

* {
    outline: none !important;
}

body {
    font-family: 'Roboto', Calibri, Arial, sans-serif;
    color: #222;
    background-color: #f2f2f2;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
p, a, li{
    font-family: 'Oxygen', sans-serif;
}
a {
    transition: all 0.3s ease-out;
    position: relative;
    padding: .5em;
}

a:focus, 
a:hover {
    text-decoration: none;
    color: #61bfcc;
}

.img_res{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.block-title {
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.8em;
    padding: 0 40px;
    margin: 0;
    line-height: 1.6;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.block {
    padding: 40px 0px 40px 0px;
    overflow: hidden;
}
.title-box{
    text-align: center;
    
    margin-bottom: 50px;
}
.bb-top-left {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.bb-bottom-left {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.bb-top-right {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}
.bb-bottom-right {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.polo-btn {
    display: block;
    color: #fff;
    border: 1px solid;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    padding: 15px 0px;
    margin: 0px 0px 20px 0px;
    transition: 0.4s ease all;
}
.color-brand {
    color: #61bfcc;
}


/* ///////////////////////////////////////////////////////////////////// 
//  03 - Side Menu
/////////////////////////////////////////////////////////////////////*/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 260px;
    height: 100%;
    margin-left: -260px;
    overflow-y: auto;
    background: #61bfcc;
    z-index: 99999999;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.27);
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    padding: 15px 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #e8970c;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#sidebar-wrapper.active {
    left: 250px;
    width: 260px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}
.close-btn {
    display: block;
    color: #FFFFFF;
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    padding-right: 25px;
}
.close-btn:hover {
    color: #84FFB0;
}




/* ///////////////////////////////////////////////////////////////////// 
//  04 - Preloader
/////////////////////////////////////////////////////////////////////*/

#preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 99999999999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: #fff url('../img/ripple.gif') 
    no-repeat center center; 
}

/* ///////////////////////////////////////////////////////////////////// 
//  05 - Header
/////////////////////////////////////////////////////////////////////*/

.sticky{
    position: fixed;
    width: 100%;
    background: transparent;
    padding: 15px 0px;
    transition: all 0.5s;
    z-index: 99999;
}
.fixed {
    position: fixed;
    top:0; 
    left:0;
    width: 100%; 
    background-color: #000;
    padding: 0px;
}
.logo {
}
.logo img {
    max-width: 100%;
}
.fixed .logo {
    padding:0;
}
.fixed .logo img {
    max-height: 56px;
}
#logo_menu {
    padding: 5px 0px;
}
#menu-toggle {
    z-index: 1;
    font-size: 35px;
    float: left;
    border: 1px solid #fff;
    color: #fff;
    margin: 11.5px 0px;
    padding: 2px 10px;
    line-height: 0;
}
.fixed #menu-toggle {
    margin: 7px 0;
}
.store-btn-container {
    padding-top: 15px;
}
.store-btn:hover,#menu-toggle:hover {
    background: #61bfcc;
    border-color: #61bfcc;
    color: #fff;
}

/* ///////////////////////////////////////////////////////////////////// 
//  06 - Banner
/////////////////////////////////////////////////////////////////////*/

#banner {
    background: url(../img/dallake.jpg);
    background-size: cover;
    padding-top: 80px;
    background-attachment: fixed;
    position: relative;
    background-position: top;
}
.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.overlay.fixed {
    position: fixed;
    z-index: 100000;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
}
.headings {
    color: #fff;
}
.headings h1 {
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 20px;
}
.headings p {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
}
.hand-container {
    max-height: 630px;
    overflow: hidden;
}
.iphone-hand {
    padding: 20px 30px 0px 30px;
}
.store:hover{
    background: #61bfcc;
    border-color: #61bfcc;
    color: #fff; 
}
.polo-btn i {
    padding-right: 6px;
}
.slidedown {
    font-size: 50px;
    color: #fff;
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 99;
    cursor: pointer;
}
.optin .form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border-color: #fff;
    margin-bottom: 10px;
    color: #fff;
}
.optin .has-error .form-control {
    border-color: #a94442;
}
.optin .has-success .form-control {
    border-color: #3ba8b7;
}
.valid {
    color: #3ba8b7;
}
.dpkerwrap i {
    position: absolute;
    top: 7px;
    right: 22px;
    z-index: 0;
}
#banner .nav-pills>li.active>a, 
#banner .nav-pills>li.active>a:hover, 
#banner .nav-pills>li.active>a:focus {
    color: #e8970c;
    background-color: #f2f2f2;
    padding-top: 20px;
}
#banner .nav-justified>li>a {
    background-color: #e8970c;
    color: #fff;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0 10px;
}
#banner .nav-justified>li>a:hover {
    background-color: #f2f2f2;
    color: #e8970c;
}

/* ///////////////////////////////////////////////////////////////////// 
//  Home Page
/////////////////////////////////////////////////////////////////////*/
.search-pane .form-control {
    background-color: transparent;  
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;  
    border-color: rgba(0,0,0,0.5);
}
.search-pane select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
    padding: .5em;
}
.featured {
    border-top: 1px solid #bfbdbd;
    border-bottom: 1px solid #bfbdbd;
    background-color: #dedcdc;
}
.section-title {
    border-bottom: 3px solid #61bfcc;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 0;
    margin-left: 10px;
}
.customNavigation {
    margin-right: 10px;
}
.packages .item {
    margin: 10px;
    position: relative;
    background-color: #fff;
    border: 1px solid #dad7d7;
    transition: all .2s ease-in-out;
}
.packages .item img {
    max-width: 100%;
}
.packages .item:hover {
    transform: scale(1.1);
}
.packages .item .hover {
    opacity: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    z-index: 1;
    transition: all .2s ease-in-out;
}
.packages .item:hover .hover {
    opacity: 1;
} 
.packages .item .hover a {
    margin-top: 10%;
    background-color: transparent;
    color: #fff;
    font-size: 10px;
    width: 40%;
}
.packages .item .hover a:hover {
    background-color: #61bfcc;
    border-color: #61bfcc;
}
.packages .meta {
    padding: 10px;
    font-size: 12px;
    position: relative;
    z-index: 2;
    background-color: #fff;
}
.packages .meta ul {
    list-style: none;
    padding: 0;
}
.packages .meta ul li {
    display: inline-block;
    margin-right: 5px;
}
.packages .meta h6 {
    border-bottom: 1px dashed #000;
    padding-bottom: 10px;
}
.packages .meta h3 {
    margin-top: 10px;
    color: #61bfcc;
}
.packages .meta h3 small {
    font-size: 12px;
}


/* ///////////////////////////////////////////////////////////////////// 
//  08 - Gallery
/////////////////////////////////////////////////////////////////////*/
.overdetail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    z-index: 100001;
    background-color: #fff;
}
.details {
    height: 400px;
    background-color: #fff;
    width: 100%;
}


/* ///////////////////////////////////////////////////////////////////// 
//  13 - Footer Section
/////////////////////////////////////////////////////////////////////*/


#footer {
    background: #000;
    color: #fff;
    padding: 20px 0px 0px 0px;
}
#footer .section-title {
    color: #fff;
}
.quotes .media:first-child {
    margin-top: 15px;
}
.quotes .media {
    font-size: 14px;
    line-height: 28px;
    font-weight: 100;
}

.copyright {
    color: #fff;
    font-size: 12px;
    padding: 20px 0;
    background-color: #111111;
    margin-top: 40px;
}


/* ///////////////////////////////////////////////////////////////////// 
//  14 - Responsive Fixes
/////////////////////////////////////////////////////////////////////*/


/*1340px - 1170px*/

@media all and (max-width: 1340px) and (min-width: 1170px;) {
    .address-list li {
        font-size: 18px;
    }
    .address-list li i {
        width: 60px;
        height: 60px;
        font-size: 34px;

    }
}

/*1170px - 992px*/

@media all and (max-width: 1170px) and (min-width: 992px) {
    .address{
        width: 100%;
    }
    .mailbox{
        width: 100%;
    }
    .address-list {
    padding: 200px 0px 70px 0px;
    width: 100%;
    max-width: 100%;
    }
    .address {
    height: 340px;
    }
    .mailbox .container{
        margin-top: 100px;
        height: auto;
    }
    .address-list {
        padding: 200px 0px 70px 0px;
        width: 100%;
        max-width: 100%;
    }
    .address-list li {
        font-size: 16px;
        padding: 1em;
        display: inline-block;
    }
    .address-list li i {
        display: table-cell;
        line-height: 42px;
        width: 42px;
        height: 40px;
        font-size: 18px;
    }
}

/*1170px*/

@media all and (max-width: 1170px) {

}

/*992px*/

@media all and (max-width: 992px) {
    .headings h1,.headings p{
        text-align: center;
    }
    .block-title {
        font-size: 2.8em;
    }
}

/*768px*/

@media all and (max-width: 767px) {
    #footer , .copyright, #footer .text-right{
        text-align: center;
    }
}


/*480px*/

@media all and (max-width: 480px) {
    .btn-custom {
        padding: 5px 0px;
    }
}

    .page-details.ng-enter,
    .page-details.ng-leave { 
        -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
     }
     .page-details.ng-enter,
.page-details.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}